<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/gallerystyle.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: antiquewhite"
    >
      <div class="container-fluid">
        <a class="navbar-brand px-3 fs-4" href="/">MY Website</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link fw-bold px-3" aria-current="page" href="/"
              >HOME</a
            >
            <a class="nav-link fw-bold px-3" href="/about">ABOUT</a>
            <a class="nav-link fw-bold px-3" href="/work">WORK</a>
            <a class="nav-link fw-bold px-3" href="/gallery">GALLERY</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="galleryDiv">
      <div class="imgRow">
        <img src="/images/download1.jpeg" alt="" class="imgGallery" />
        <img src="/images/download1.jpeg" alt="" class="imgGallery" />
      </div>

      <div class="imgRow">
        <img src="/images/download1.jpeg" alt="" class="imgGallery" />
        <img src="/images/download1.jpeg" alt="" class="imgGallery" />
      </div>

      <div class="imgRow">
        <img src="/images/download1.jpeg" alt="" class="imgGallery" />
        <img src="/images/download1.jpeg" alt="" class="imgGallery" />
      </div>
    </div>
  </body>
</html>
