body {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.galleryDiv {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2%;
  margin-top: 3%;
}

.imgRow {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
}

.imgGallery {
  margin-bottom: 3%;
  border-radius: 5px;
  width: 85%;
  transition: transform 0.2s;
}

.imgGallery:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
